checkpoints/** filter=lfs diff=lfs merge=lfs -text
datasets/NEA/** filter=lfs diff=lfs merge=lfs -text
datasets/CIS/** filter=lfs diff=lfs merge=lfs -text
datasets/CCSC/** filter=lfs diff=lfs merge=lfs -text
